
.icon-star-circled:before { content: '\e800'; } /* '' */
.icon-chart-circled:before { content: '\e801'; } /* '' */
.icon-globe-alt:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-duckduckgo:before { content: '\e804'; } /* '' */
.icon-doc-circled:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
